<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INPUT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Masukkan Data</h2>
  Judul
  <ion-input [(ngModel)]="judul"></ion-input>
  <br/>
  Isi
  <ion-input [(ngModel)]="isi"></ion-input>
  <br/>
  
  Tanggal
  <input type="date" [(ngModel)]="tanggal"/>
  <br/>
  Nilai
  <ion-input [(ngModel)]="nilai"></ion-input>
  <br/>

  Gambar 
  <ion-fab-button  (click)="addPhotoToGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>

  <ion-button (click)="simpan()"> Simpan </ion-button>
</ion-content>


